@import "../../_base.scss";

.vedio {
    margin-bottom: 1rem;
    padding: 0.7rem;
    font-weight: 500;
    font-size: 0.9rem;

    cursor: pointer;

    &__top {
        width: 100%;
        position: relative;

        span {
            position: absolute;
            right: -1rem; 
            bottom: 0.5rem;
            background-color: rgb(43, 42, 42);
            color:white;
            padding: 0px 7px;
            border-radius: 8px;
        }
    }


    &__channel {

        img{
            margin: 0.5rem;
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
    }


    &__title{
        font-weight: 600;
        padding-top: 0.5rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    &__cname{
        font-weight: 400;
        padding: 0rem 0.7rem;
    }


    &__str {
        display: flex;
    }

}

